body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
header{
    width: 100%;
    height: 100px;
    position: absolute;
     background-color: whitesmoke;
}
header div{
    float: left;
    justify-content: space-between;
    align-items: center;
}
header .logo{
     margin-left: 100px;
     margin-top: 20px;
}
header .nav{
   position: absolute;
   top:0;
   right:0;
   margin-right: 200px;

}
header .nav ul{
    list-style: none;
}
header .nav ul li {
    float: left;
    padding: 20px;
}
header .nav ul li a{
    text-decoration: none;
    color: rgb(90, 87, 87);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}
 
header .nav ul li a:hover{
    color: rgb(95, 95, 237);
}
.sec1{
    background-color: #f9f9ff;
    width:100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.half1, .half2{

    width: 50%;
}
.half1{
    margin-left: 230px;
    margin-bottom: 120px;
}
.half2{
    padding-right: 160px;
}
.half2 img{
    max-width: 100%;
    height: auto;
}
 
.half1 input{
 padding: 12px 20px;
 color: white;
 background-color: royalblue;
 border: none;
 font-weight: bold;
 font-size: medium;
 
}
.half1 input:hover{
    box-shadow: 5px 10px 30px rgba(2, 8, 42, 0.5);
    transition: all 0.5s ease 0.1s;
    outline: none;

     
}
.sec2{
  background-color: snow;
  width:100% ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 750px;



}
.h1,.h2{
    width: 50%;
    
}
.h1{
    padding-left: 160px;
    padding-top: 100px;
}
.h2{
margin: 100px;

}
.h2 input{
color: white;
background-color: royalblue;
border: none;
padding: 12px 20px;
font-weight: bold;
font-size: medium;

}
.h2 input:hover{
    box-shadow: 5px 10px 30px rgba(2, 8, 42, 0.5); ;
    transition:all 0.5s ease-in-out 0s ;
    outline: none;
}
.sec3{
width: 100%;
height: 750px;
margin: 0 auto;
text-align: center;


}
.d1 h1{
    font-size: 40px;
    line-height: 10px;
}
.d1 p{
    color: gray;
}
.service{
 width:100%;
 margin: 0 auto;

}
.src1,.src2{
width:100%;
overflow: hidden;

}
.src1 div,.src2 div{
    width: 30%;
    float: left;
    padding: 5px;
    margin: 0 auto;
}
.src1 div:hover{
    background-color:#8293ff ;
    color: white;
}
.src2 div:hover{
    background-color:#8293ff ;
    color: white;
}
 .sec4{
    width: 100%;
    height: 350px;
    background-color: #8293ff;
    
 }
 .sec4 div{
    float: left;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top:100px;
    left: 150px;
    
 }
 .u{
    color: white;
    font-weight: bolder;
 }
 .w{
    color: white;
    font-size: 10px;
 }
 .sec5{
    width: 100%;
    height: 200px;
    background-color: white;
 }